<div class="col-lg-7 contact-col" style="margin: 0 auto;" *ngIf="openAddressform">
  <!-- && data.type !== 'place_order'" -->
  <h2 style="text-align: center;">Address</h2>
  <div class="cotact-form">
    <form [formGroup]="profileform">
      <div class="row contact-form-row">
        <div class="col-md-12 contact-form-col">
          <div class="form-input">
            <input type="text" placeholder="Full Name" formControlName="full_name">
            <div class="error">
              <p *ngIf="profileform.controls.full_name.touched && profileform.controls.full_name.hasError('required')">
                This field is required.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="tel" placeholder="Mobile Number" mask="0000000000" formControlName="phone">
            <div class="error">
              <p *ngIf="profileform.controls.phone.touched && profileform.controls.phone.hasError('required')">
                This field is required.
              </p>
              <p *ngIf="profileform.controls['phone'].errors?.mask">
                Mobile number must be at least 10 digits long.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="text" placeholder="House or Apartment number" formControlName="house_number">
            <div class="error">
              <p
                *ngIf="profileform.controls.house_number.touched && profileform.controls.house_number.hasError('required')">
                This field is required.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="text" placeholder="Street name" formControlName="area">
            <div class="error">
              <p *ngIf="profileform.controls.area.touched && profileform.controls.area.hasError('required')">
                This field is required.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="text" mask="000000" placeholder="Pincode" formControlName="pincode">
            <div class="error">
              <p *ngIf="profileform.controls.pincode.touched && profileform.controls.pincode.hasError('required')">
                This field is required.
              </p>
              <p *ngIf="profileform.controls['pincode'].errors?.mask">
                pincode must be at least 6 digits long.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="text" placeholder="Nearest Landmark" formControlName="landmark">
            <div class="error">
              <p *ngIf="profileform.controls.landmark.touched && profileform.controls.landmark.hasError('required')">
                This field is required.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <input type="text" placeholder="City or district" formControlName="city">
            <div class="error">
              <p *ngIf="profileform.controls.city.touched && profileform.controls.city.hasError('required')">
                This field is required.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 contact-form-col">
          <div class="form-input">
            <select formControlName="state_id">
              <option value="">State name</option>
              <option *ngFor="let type of stateslist" [value]="type?.state_id">{{type?.name}}</option>
            </select>
          </div>
          <div class="error">
            <p *ngIf="profileform.controls.state_id.touched && profileform.controls.state_id.hasError('required')">
              This field is required.
            </p>
          </div>
        </div>
        <div class="col-md-12 contact-form-col" style="display: flex;">
          <div class="form-input">
            <input type="submit" value="Save" (click)="submit(profileform?.value)">
            <!-- (click)="submit(profileform?.value)" -->
          </div>
          <div class="form-input" style="margin-left: 10px;">
            <input type="submit" value="Back" (click)="openAddressform = false" >
          </div>
        </div>

      </div>
    </form>
  </div>
</div>


<ng-container *ngIf="!openAddressform">
  <div class="container">
    <div class="scroll cmn-gap">
      <mat-card *ngFor="let item of addressList; let i=index" style="margin: 10px;">
        <div class="addresSec">
          <div class="header__sec" style="display: flex;justify-content: space-between;">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="addressid">
              <mat-radio-button class="example-radio-button" [value]="item.id">
                <span><b>{{item?.full_name}}</b></span> <br>
              </mat-radio-button>
            </mat-radio-group>
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #bbbbbb;font-size: 19px;">delete
            </mat-icon>
          </div>
          <span>{{item?.house_number}}</span>,&nbsp;<span>{{item?.area}}</span>,&nbsp;<span>{{item?.pincode}}</span>,
          &nbsp;<span>{{item?.landmark}}</span>,&nbsp;<span>{{item?.city}}</span><br>
        </div>
      </mat-card>
    </div>
    <div class="col-md-12 contact-form-col">
      <div class="form-input">
        <input type="submit" value="Add Address" (click)="openaddressSection()">
      </div>
    </div>
  </div>
</ng-container>
<!-- *ngIf="data.type === 'place_order'" -->
<!-- <ng-container *ngIf="!addressList">
  <div class="container">
    <mat-card *ngFor="let item of addressList; let i=index" style="margin: 10px;">
      <div class="addresSec">
        <div class="header__sec" style="display: flex;justify-content: space-between;">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="addressid">
            <mat-radio-button class="example-radio-button" [value]="item">
              <span><b>{{item?.full_name}}</b></span> <br>
            </mat-radio-button>
          </mat-radio-group>
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #bbbbbb;font-size: 19px;">delete
          </mat-icon>
        </div>
        <span>{{item?.house_number}}</span>,&nbsp;<span>{{item?.area}}</span>,&nbsp;<span>{{item?.pincode}}</span>,
        &nbsp;<span>{{item?.landmark}}</span>,&nbsp;<span>{{item?.city}}</span><br>
      </div>
    </mat-card>
  </div>
  <div class="col-md-12 contact-form-col">
    <div class="form-input">
      <input type="submit" value="Save" >

    </div>
  </div>
</ng-container> -->
<!-- (click)="dialogRef.close({addressid: addressid})" -->
