<section class="banner-section">
  <img src="./assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
      <h1>About Buildboard</h1>
  </div>
</section>

<div class="about-section cmn-gap">
  <div class="container">
    <div class="heading">
      <!-- <h2>About Buildboard</h2> -->
      <!-- <p>
        It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout.
      </p> -->
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/about-us-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>About Buildboard</h3>
          <p>
            In March 2020, we started Buildboard Furnishers with a vision - to make a million homes beautiful.
          </p>

          <p>
            Back then, the start of 2020 was disastrous due to covid each one of us suffered a lot but there’s sunshine
            after every sunset, we bounced back and started with our mission to furnish every home possible.
          </p>
          <p>When our customer shared <br> photographs of their homes, we saw they were remarkably distinct. The same
            table, the
            same chair was used differently by different people. This told us something. People
            want their homes to be unique. We also realized that people are a lot happier creating
            things than they are buying things. We are a creative, imaginative, expressive species.
            And our homes are just one of the many canvases we have at our disposal.</p>
          <p>
            Today, we understand that we’re here not just to sell well-designed products. We’re
            here to help you create spaces that mirror who you are. At Buildboard Furnishers, we want you <br>
            to discover the joy of creating. Starting with your home. We want you to think of the
            setting up of a space as an energizing, creative pursuit. To breathe life into empty
            rooms with your ideas. To take a few square feet of nothing, and transform it into
            something beautiful.
          </p>


        </div>
      </div>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/morale-4.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Our Morale</h3>
          <p>
            <span>Customer Obsession:</span> Customers are at the center of whatever we do at Buildboard Furnishers. We
            ensure that
            we get the right customer solution in all our initiatives. We establish a long-term relationship with every
            customer and aim to delight them in every interaction. We aim to set the global benchmark for customer
            happiness scores.
          </p>

          <p>
            <span>Honesty & Transparency:</span> We are honest, ethical, and trustworthy in the way we
            live life. We hold the highest standards of corporate governance in all our
            activities. We communicate transparently with all our stakeholders. When we
            make mistakes, we are honest and upfront about owning up to them.
          </p>

          <p>
            <span>Action Orientation:</span> We have a bias for action. We empower our teams to take
            fast and well informed decisions. We continuously iterate and learn from our
            mistakes. Scale and robustness are built in as we move along.
          </p>
          <p>
            <span>Stepping Up:</span> We take charge, go the extra mile, and think differently to find
            innovative solutions. When in doubt, we push ourselves harder to solve newer
            challenges and get better solutions.
          </p>
          <p><span>Efficiency:</span> We are here to build a long-term sustainable business. We aim to do
            more with less and focus on zero waste. We believe that a self-sustaining
            business will be responsible and solve customer problems in the right manner.</p>
        </div>
      </div>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/Partner-With-Us.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Partner with us</h3>
          <p>
            Everyday, fine craftsman and manufacturers are joining with us to make your home feel home. We at Buildboard
            help you to grow your business and reach more people everyday.
          </p>

          <p>
            We’re keen and excited to grow and make Buildboard as one big family serving million homes. We add stunning
            new products to our range to help our customers make their homes beautiful. If you would like to partner
            with us and join our journey of making a million beautiful homes, write to us at Email:-
            buildboardfurnishers@gmail.com or register on our app download it from Play Store and App Store. Feel free
            to contact us regarding any query contact no:- 8830611703
          </p>

        </div>
      </div>
    </div>

    <!-- <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/product04.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of.
          </p>

        </div>
      </div>
    </div> -->

  </div>
</div>
