<header class="main-head">
    <div class="top-head">
      <div class="head-container">
        <div class="top-head-wrap">
          <div class="head-info">
            <ul>
              <li>
                <i><img src="./assets/images/pin.svg" alt=""></i>
                <span>Store Location</span>
              </li>
              <li>
                <i><img src="./assets/images/email.svg" alt=""></i>
                <a href="mailto:support@buildboardfurnishers.com">support@buildboardfurnishers.com</a>
              </li>
            </ul>
          </div>
          <div class="gift-list">
            <ul>
              <li><a href="#url">Gift Cards</a></li>
              <li><a href="#url">FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="bottom-head">
      <div class="head-container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="search-sec">
            <a id="click"><i><img src="./assets/images/loupe.svg" alt=""></i></a>
            <div class="search-form">
              <form>
                <div class="form-input">
                  <input type="text" placeholder="SEARCH">
                  <input type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>
  
          <a class="navbar-brand" href="index.html"><img src="./assets/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
            <li class="current-menu-item"><a href="#url">Home</a></li>
            <li class="menu-item-has-children">
              <a href="#url">category</a>
              <ul class="sub-menu">
                  <li><a href="#url">category 1</a></li>
                  <li><a href="#url">category 1</a></li>
                  <li><a href="#url">category 1</a></li>
                  <li><a href="#url">category 1</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#url">page</a>
              <ul class="sub-menu">
                  <li><a href="#url">page 1</a></li>
                  <li><a href="#url">page 1</a></li>
                  <li><a href="#url">page 1</a></li>
                  <li><a href="#url">page 1</a></li>
              </ul>
            </li>
             <li><a href="#url">Contact</a></li>
            </ul>
          </div>
  
          <div class="shop-list">
            <ul>
              <li><a class="fancybox" href="#one">
               <i><img src="./assets/images/user.svg" alt=""></i>
              </a></li>
              <li><a href="#url">
               <i><img src="./assets/images/heart.svg" alt=""></i>
              </a></li>
              <li><a href="#url">
               <i><img src="./assets/images/cart.svg" alt=""></i>
               <span>0</span>
              </a></li>
            </ul>
          </div>
  
        </nav>
      </div>
    </div>
  </header>