<header class="main-head">
    <div class="top-head">
      <div class="head-container">
        <div class="top-head-wrap">
          <div class="head-info">
            <ul>
              <!-- <li>
                <i><img src="./assets/images/pin.svg" alt=""></i>
                <span>Store Location</span>
              </li> -->
              <li>
                <i><img src="./assets/images/email.svg" alt=""></i>
                <a href="mailto:support@buildboardfurnishers.com">support@buildboardfurnishers.com</a>
              </li>
            </ul>
          </div>
          <div class="gift-list">
            <ul>
              <!-- <li><a >Gift Cards</a></li> -->
              <!-- <li><a >FAQs</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-head">
      <div class="head-container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="search-sec">
            <a id="click"><i><img src="./assets/images/loupe.svg" alt=""></i></a>
            <div class="search-form">
              <form>
                <div class="form-input">
                  <input type="text" placeholder="SEARCH">
                  <input type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>

          <a class="navbar-brand" href="index.html"><img src="./assets/images/logo.png" alt=""></a>
          <button id="click" (click)="toggelNavbar = !toggelNavbar" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" [ngClass]="{'show': toggelNavbar}" id="navbarSupportedContent">
            <ul class="navbar-nav">
            <li>
              <a routerLink='./' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="current-menu-item">
                Home
              </a>
            </li>
            <li class="menu-item-has-children" (click)="toggeleSubmenu = !toggeleSubmenu">
              <a class="list_item" [routerLink]="['/category']" routerLinkActive="current-menu-item" (mouseover)="hideDiv=true">
                category
              </a>
              <ul id="closeOnclick" class="sub-menu" [ngClass]="{'show': toggeleSubmenu}" *ngIf="hideDiv">
                  <li *ngFor="let item of categoryList; let i=index">
                    <a [routerLink]="['/product-list',item?.id]">{{item?.name}}</a>
                    <!-- (click)="disableDropdown()" -->
                  </li>
              </ul>
            </li>
            <li>
              <a [routerLink]="['/Want-to-be-a-seller']" routerLinkActive="current-menu-item">Want to be a seller?</a>
            </li>
             <li>
               <a [routerLink]="['/contact']" routerLinkActive="current-menu-item">Contact</a>
              </li>
            </ul>
          </div>

          <div class="shop-list">
            <ul>
              <li *ngIf="!isLogedin"><a class="fancybox" (click)="openLogin()">
               <i><img src="./assets/images/user.svg" alt=""></i>
              </a></li>
              <li class="menu-item-has-children" *ngIf="isLogedin">
                <a class="fancybox">
                {{userName ? 'Hi,' + userName : ''}}
               </a>
               <li *ngIf="isLogedin" style="cursor: pointer;" (click)="logout()"><a class="fancybox">
                <i><img src="./assets/images/send-file.svg" alt=""></i>
               </a></li>
               <li *ngIf="isLogedin" style="cursor: pointer;" ><a class="fancybox"
                [routerLink]="['/account']" routerLinkActive="current-menu-item">
                <i><img src="./assets/images/settings.svg" alt=""></i>
               </a></li>
              <li><a >
               <i><img src="./assets/images/heart.svg" alt=""></i>
              </a></li>
              <li><a (click)="openCart()" style="cursor: pointer;">
               <i><img src="./assets/images/cart.svg" alt=""></i>
               <span>{{cartItemNumber ? cartItemNumber : 0}}</span>
              </a></li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </header>
