<section class="catagorry-listing listing-page cmn-gap">
  <div class="container">
    <h2 class="text-center">{{productList ? (productList[0]?.category?.name) : ''}}</h2>
    <div class="product-row row" *ngIf="productList">
      <div class="col-lg-3 col-md-6 product-col" *ngFor="let item of productList">
        <div class="product-card">
          <div class="product-image">
            <a style="background: url({{item.image}}) no-repeat center center;"
              [routerLink]="['/product-details', item.id]"></a>
            <span *ngIf="item?.percentage_off">{{item?.percentage_off ? '-' + item?.percentage_off + '%' : ''}}</span>
          </div>
          <div class="product-cont">
            <h4>{{item?.name| slice: 0 :20}}</h4>
            <span> <del *ngIf="item?.offer_price">{{item?.price ? '₹' + item?.price : ''}}</del> {{item?.offer_price ?
              '₹'+item?.offer_price : '₹'+item?.price}}</span>
            <a class="cmn-btn" (click)="addTocart(item);item.loadingenable = true"
              *ngIf="!item?.loadingenable && !item?.isAdded">add to
              cart</a>
            <a class="cmn-btn loader" *ngIf="item?.loadingenable && !item?.isAdded">ADDING TO CART</a>
            <a class="cmn-btn loader" *ngIf="item?.isAdded">ADDED</a>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!productList">
      <p style="color: red;text-align: center;">Product not found</p>
    </ng-container>
    <!-- <div class="button text-center" *ngIf="productList?.length > 2">
      <a class="cmn-btn">Load More</a>
    </div> -->


  </div>
</section>
