<section class="catagorry-listing listing-page cmn-gap">
  <div class="container">
    <h2 class="text-center">Chairs</h2>

    <div class="product-row row">

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
           <a  style="background: url(./assets/images/chair.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair2.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair3.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair4.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
           <a  style="background: url(./assets/images/chair.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair2.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair3.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair4.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
           <a  style="background: url(./assets/images/chair.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair2.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair3.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair4.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
           <a  style="background: url(./assets/images/chair.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair2.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair3.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair4.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
           <a  style="background: url(./assets/images/chair.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair2.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair3.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 product-col">
        <div class="product-card">
          <div class="product-image">
            <a  style="background: url(./assets/images/chair4.jpg) no-repeat center center;"></a>
            <span>-10%</span>
          </div>
          <div class="product-cont">
            <h4>Cobi Coffe table</h4>
            <span> <del>$150.00</del> $140.00</span>
            <a class="cmn-btn" >add to cart</a>
          </div>
        </div>
      </div>

    </div>


    <div class="button text-center">
      <a class="cmn-btn" >Load More</a>
    </div>


  </div>
</section>
