<section class="banner-section">
  <img src="./assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
      <h1>CONTACT US</h1>
  </div>
</section>

<section class="contact-sec cmn-gap">
  <div class="container">
      <h2>Contact Us</h2>
      <div class="row contact-row">
          <div class="col-lg-5 contact-col">
              <div class="contact-list">
                  <ul>
                      <li>
                          <i><img src="./assets/images/pin.svg" alt=""></i>
                          <span>Bhumi Arcade, 1st Level, Lakadganj Nagpur 440008.</span>
                      </li>

                      <li>
                          <i><img src="./assets/images/email.svg" alt=""></i>
                          <a href="mailto:info@builderboard.com">info@builderboard.com</a>
                      </li>

                      <li>
                          <i><img src="./assets/images/phone-call.svg" alt=""></i>
                          <a href="tel:9876543210">+91-987-654-3210</a>
                      </li>

                  </ul>
              </div>
          </div>
          <div class="col-lg-7 contact-col">
              <div class="cotact-form">
                  <form [formGroup]="contactForm">
                      <div class="row contact-form-row">
                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="text" placeholder="First Name" formControlName="first_name">
                                  <div class="error">
                                    <p
                                      *ngIf="contactForm.controls.first_name.touched && contactForm.controls.first_name.hasError('required')">
                                      This field is required.
                                    </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="text" placeholder="Last Name" formControlName="last_name">
                                  <div class="error">
                                    <p
                                      *ngIf="contactForm.controls.last_name.touched && contactForm.controls.last_name.hasError('required')">
                                      This field is required.
                                    </p>
                                  </div>
                                </div>
                          </div>

                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="email" placeholder="Email" formControlName="email">
                                  <div class="error">
                                    <p
                                      *ngIf="contactForm.controls.email.touched && contactForm.controls.email.hasError('required')">
                                      This field is required.
                                    </p>
                                    <p *ngIf="contactForm.controls.email.touched && contactForm.controls.email.hasError('pattern')">
                                      Email is invalid.
                                    </p>
                                  </div>
                                </div>
                          </div>

                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="tel" mask="0000000000" placeholder="Phone" formControlName="phone">
                                  <div class="error">
                                    <p
                                      *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.hasError('required')">
                                      This field is required.
                                    </p>
                                    <p *ngIf="contactForm.controls['phone'].errors?.mask">
                                      Mobile number must be at least 10 digits long.
                                    </p>
                                  </div>
                                </div>
                          </div>
                          <ng-container>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" mask="0*" placeholder="Pincode" formControlName="pincode">
                                <div class="error">
                                  <p *ngIf="contactForm.controls.pincode.touched && contactForm.controls.pincode.hasError('required')">
                                    This field is required.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" placeholder="City" formControlName="city">
                                <div class="error">
                                  <p *ngIf="contactForm.controls.city.touched && contactForm.controls.city.hasError('required')">
                                    This field is required.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" mask="00000" placeholder="Zip" formControlName="zipcode">
                                <div class="error">
                                  <p *ngIf="contactForm.controls.zipcode.touched && contactForm.controls.zipcode.hasError('required')">
                                    This field is required.
                                  </p>
                                  <p *ngIf="contactForm.controls['zipcode'].errors?.mask">
                                    Zip must be at least 5 digits long.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 contact-form-col">
                              <h4 style="text-align: center;">YOUR BUSINESS DETAILS</h4>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <select formControlName="company_type">
                                  <option value="">Company Type</option>
                                  <option *ngFor="let type of companyType" [value]="type?.name">{{type?.name}}</option>
                                </select>
                              </div>
                              <div class="error">
                                <p
                                  *ngIf="contactForm.controls.company_type.touched && contactForm.controls.company_type.hasError('required')">
                                  This field is required.
                                </p>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" placeholder="Company name" formControlName="company_name">
                                <div class="error">
                                  <p
                                    *ngIf="contactForm.controls.company_name.touched && contactForm.controls.company_name.hasError('required')">
                                    This field is required.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" placeholder="Company number" mask="0000000000" formControlName="company_number">
                                <div class="error">
                                  <p
                                    *ngIf="contactForm.controls.company_number.touched && contactForm.controls.company_number.hasError('required')">
                                    This field is required.
                                  </p>
                                  <p *ngIf="contactForm.controls['company_number'].errors?.mask">
                                    Company number must be at least 10 digits long.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" placeholder="Business phone number" mask="0000000000"
                                  formControlName="business_number">
                                <div class="error">
                                  <p
                                    *ngIf="contactForm.controls.business_number.touched && contactForm.controls.business_number.hasError('required')">
                                    This field is required.
                                  </p>
                                  <p *ngIf="contactForm.controls['business_number'].errors?.mask">
                                    Business phone number must be at least 10 digits long.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                <input type="text" mask="00000" placeholder="Gst number" formControlName="gst">
                                <div class="error">
                                  <p *ngIf="contactForm.controls.gst.touched && contactForm.controls.gst.hasError('required')">
                                    This field is required.
                                  </p>
                                  <p *ngIf="contactForm.controls['gst'].errors?.mask">
                                    Gst number must be at least 5 digits long.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 contact-form-col">
                              <div class="custom-file">
                                <input type="file" id="customFile" (change)="uploadDocumentInsuranceInit($event)" accept=".pdf">
                                <label class="custom-file-label" for="customFile">Upload your catalogue</label>
                              </div>
                              <p *ngIf="this.contactForm.controls.catelog.value">{{this.contactForm.controls.catelog.value.name}}
                              </p>
                            </div>
                          </ng-container>
                          <div class="col-md-12 contact-form-col">
                              <div class="form-input">
                                <textarea placeholder="Massage" formControlName="message"></textarea>
                                <div class="error">
                                  <p *ngIf="contactForm.controls['message'].errors?.minlength">
                                    Message must be at least 10 characters long.
                                  </p>
                                </div>
                              </div>
                          </div>

                          <div class="col-md-12 contact-form-col">
                              <div class="form-input" (click)="submit(contactForm?.value)">
                                <input type="submit" value="Submit">
                              </div>
                          </div>

                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
