<ng-container>
  <svg (click)="dialogRef.close()" style="width: 24px;float: right;" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg>
  <div class="myModal">
    <div claas="modal-cont">
      <div class="row modal-row">
          <div class="col-md-12 modal-col">
            <div class="modal-form">
              <h3>Log in</h3>
              <form>
                <div class="row form-row">
                  <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="text" placeholder="Phone Number*">
                    </div>
                  </div>
                  <!-- <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="password" placeholder="Password">
                    </div>
                  </div> -->
                  <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="submit" value="Log in">
                    </div>
                  </div>
                </div>
              </form>
              <a class="fancybox">Don't have account Please Sign Up</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</ng-container>

