<ng-container *ngIf="modeldata === 'login'">
  <div class="myModal" id="one">
    <div claas="modal-cont">
      <div class="row modal-row">
          <div class="col-md-12 modal-col">
            <div class="modal-form">
              <h3>Log in</h3>
              <form>
                <div class="row form-row">
                  <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="text" placeholder="Phone Number*">
                    </div>
                  </div>
                  <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="col-md-12 form-col">
                    <div class="form-input">
                      <input type="submit" value="Log in">
                    </div>
                  </div>
                </div>
              </form>

              <a class="fancybox" href="#two">Don't have account Please Sign Up</a>

            </div>
          </div>
      </div>
    </div>
  </div>
</ng-container>

