<section class="banner-section">
  <img src="/assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
    <div class="banner-wrap">
        <h1>CATAGORY</h1>
    </div>
  </div>
</section>

<section  class="catagorry-sec cmn-gap">
    <div class="container">
        <div class="row catagory-row">
            <div class="col-lg-3 catagory-col">
                <div class="catagory-cont">
                    <h3>CATAGORY</h3>
                    <ul>
                        <li *ngFor="let item of categoryList">
                          <a [routerLink]="['/product-list',item?.id]">{{item?.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 catagory-col">
                <div class="catagory-form">
                        <div class="form-section">
                          <form>
                            <div class="form-wrap">
                              <div class="input-form">
                                <select>
                                  <option>A-Z</option>
                                </select>
                              </div>
                              <div class="input-form">
                                <input type="submit" value="search">
                              </div>
                            </div>
                          </form>
                        </div>
                     </div>

                <div class="catagorry-listing">
                  <div class="product-row row">
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                         <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product01.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                          <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product02.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                          <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product03.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                         <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product01.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                          <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product02.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 product-col">
                      <div class="product-card">
                        <div class="product-image">
                          <a [routerLink]="['/product-details', 1]" style="background: url(/assets/images/product03.jpg) no-repeat center center;"></a>
                          <span>-10%</span>
                        </div>
                        <div class="product-cont">
                          <h4>Cobi Coffe table</h4>
                          <span> <del>$150.00</del> $140.00</span>

                          <a class="cmn-btn" >add to cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
