<section class="banner-section">
    <img src="./assets/images/banner-image.jpg" alt="">
    <div class="banner-cont container">
      <div class="banner-wrap">
        <h1>
          <span>modern, high quality, and timeless</span>
          Buildboard Furnishers Modern Furniture
        </h1>
        <a class="cmn-btn-white">shop collection</a>
      </div>
    </div>
  </section>

  <section class="product-section cmn-gap">
    <div class="container">
      <div class="ourwork-tab">
        <ul class="resp-tabs-list hor_1 e-tab">
            <li>Latest Products</li>
            <li>Best Sellers</li>
            <li>Featured Products</li>
        </ul>
        <div class="resp-tabs-container hor_1">
            <div class="content">
              <div class="product-row row">
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                     <a href="#url" style="background: url(./assets/images/product01.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product02.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product03.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="product-row row">
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product02.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product01.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product03.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="product-row row">
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product03.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product01.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 product-col">
                  <div class="product-card">
                    <div class="product-image">
                      <a href="#url" style="background: url(./assets/images/product02.jpg) no-repeat center center;"></a>
                      <span>-10%</span>
                    </div>
                    <div class="product-cont">
                      <h4>Cobi Coffe table</h4>
                      <span> <del>$150.00</del> $140.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
  </section>

  <section class="category-sec cmn-gap-bottom">
    <div class="container">
      <h2>Top Categories</h2>

      <div class="product-row row">
        <div class="col-lg-4 col-md-6 product-col">
          <div class="product-card">
            <div class="product-image">
              <a href="#url" style="background: url(./assets/images/categories01.jpg) no-repeat center center;"></a>
              <span>-10%</span>
            </div>
            <div class="product-cont">
              <h4>Living Room</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-col">
          <div class="product-card">
            <div class="product-image">
              <a href="#url" style="background: url(./assets/images/categories02.jpg) no-repeat center center;"></a>
              <span>-10%</span>
            </div>
            <div class="product-cont">
              <h4>Bath Room</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-col">
          <div class="product-card">
            <div class="product-image">
              <a href="#url" style="background: url(./assets/images/categories03.jpg) no-repeat center center;"></a>
              <span>-10%</span>
            </div>
            <div class="product-cont">
              <h4>Dining Table</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="product-section">
        <div class="row product-sec-row">
          <div class="col-lg-4 col-md-6 product-sec-col">
            <div class="product-sec-cont">
              <img src="./assets/images/product-image01.jpg" alt="">
              <a class="cmn-btn-white" href="#url">New Arrivals</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 product-sec-col">
            <div class="product-sec-cont">
              <img src="./assets/images/product-image02.jpg" alt="">
              <a class="cmn-btn-white" href="#url">On Sale</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 product-sec-col">
            <div class="product-sec-cont">
              <img src="./assets/images/product-image03.jpg" alt="">
              <a class="cmn-btn-white" href="#url">Accessories</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="collection cmn-gap">
      <h2>Collection</h2>
      <div class="collection-slider">
        <ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slideConfig">
          <div ngxSlickItem>
            <div class="collection-image">
              <img src="./assets/images/colection-iamge01.jpg" alt="">
            </div>
          </div>
          <div ngxSlickItem>
              <div class="collection-image">
                <img src="./assets/images/colection-iamge02.jpg" alt="">
              </div>
          </div>
          <div ngxSlickItem>
            <div class="collection-image">
              <img src="./assets/images/colection-iamge03.jpg" alt="">
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
      <h3>Lorem ipsum Dolar Sit Amet</h3>
      <div class="button text-center">
        <a href="#url" class="cmn-btn">shop collection</a>
      </div>
  </section>

  <section class="chair-sec cmn-gap">
    <div class="chair-wrapper">
      <div class="row chair-row">
        <div class="col-lg-6 chair-col">
          <img src="./assets/images/chair-image01.jpg" alt="">
          <h2>They come in colors</h2>
          <a class="cmn-btn" href="#url">Shop Collection</a>
        </div>
        <div class="col-lg-6 chair-col">
          <img src="./assets/images/chair-image02.jpg" alt="">
          <h2>Plump & Pretty Puffy</h2>
          <a class="cmn-btn" href="#url">Shop Collection</a>
        </div>
      </div>
    </div>
  </section>

  <section class="video-sec cmn-gap">
    <div class="container">
      <div class="row video-row">
        <div class="col-lg-6 video-col">
          <div class="video-image">
            <img src="./assets/images/video-image.jpg" alt="">
            <a data-fancybox href="#myVideo"><img src="./assets/images/play.svg" alt=""></a>
          </div>

          <div controls id="myVideo" style="display: none;">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/5Peo-ivmupE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="video-image-cont">
            <span>A LITTLE OUR STORY</span>
            <h2>Buildboard Furnishers</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>

            <a class="cmn-btn" href="#url">read more</a>

          </div>

        </div>
        <div class="col-lg-6 video-col">
          <div class="video-cont">
            <div class="video-icon-sec">
              <span><img src="./assets/images/video-icon01.png" alt=""></span>
              <h4>Affordable Pricing</h4>
              <p>Identical to the original. Handpicked materials.</p>
            </div>
            <div class="video-icon-sec">
              <span><img src="./assets/images/video-icon02.png" alt=""></span>
              <h4>Free Shipping</h4>
              <p>Free shipping for orders over $1,000!</p>
            </div>
            <div class="video-icon-sec">
              <span><img src="./assets/images/video-icon03.png" alt=""></span>
              <h4>(COM) options available</h4>
              <p>A professional team of expert craftsmen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
