<section class="banner-section">
  <img src="./assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
      <h1>CONTACT US</h1>
  </div>
</section>

<section class="contact-sec cmn-gap">
  <div class="container">
      <h2>Contact Us</h2>
      <div class="row contact-row">
          <div class="col-lg-5 contact-col">
              <div class="contact-list">
                  <ul>
                      <li>
                          <i><img src="./assets/images/pin.svg" alt=""></i>
                          <span>Bhumi Arcade, 1st Level, Lakadganj Nagpur 440008.</span>
                      </li>

                      <li>
                          <i><img src="./assets/images/email.svg" alt=""></i>
                          <a href="mailto:info@builderboard.com">info@builderboard.com</a>
                      </li>

                      <li>
                          <i><img src="./assets/images/phone-call.svg" alt=""></i>
                          <a href="tel:9876543210">+91-987-654-3210</a>
                      </li>

                  </ul>
              </div>
          </div>
          <div class="col-lg-7 contact-col">
              <div class="cotact-form">
                  <form [formGroup]="contactForm">
                      <div class="row contact-form-row">
                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="text" placeholder="First Name" formControlName="first_name">
                                  <div class="error">
                                    <p *ngIf="contactForm.controls.first_name.touched && contactForm.controls.first_name.hasError('required')">
                                      This field is required.
                                    </p>
                                  </div>
                                </div>
                          </div>
                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="text" placeholder="Last Name" formControlName="last_name">
                                  <div class="error">
                                    <p *ngIf="contactForm.controls.last_name.touched && contactForm.controls.last_name.hasError('required')">
                                      This field is required.
                                    </p>
                                  </div>
                                </div>
                          </div>

                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="email" placeholder="Email" formControlName="email">
                                  <div class="error">
                                    <p *ngIf="contactForm.controls.email.touched && contactForm.controls.email.hasError('required')">
                                      This field is required.
                                    </p>
                                    <p *ngIf="contactForm.controls.email.touched && contactForm.controls.email.hasError('pattern')">
                                      Email is invalid.
                                    </p>
                                  </div>
                                </div>
                          </div>

                          <div class="col-md-6 contact-form-col">
                              <div class="form-input">
                                  <input type="tel" placeholder="Phone" mask="0000000000" formControlName="phone">
                                  <div class="error">
                                    <p *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.hasError('required')">
                                      This field is required.
                                    </p>
                                    <p *ngIf="contactForm.controls['phone'].errors?.mask">
                                      Mobile number must be at least 10 digits long.
                                    </p>
                                  </div>
                                </div>
                          </div>

                          <div class="col-md-12 contact-form-col">
                              <div class="form-input">
                                <textarea placeholder="Massage" formControlName="description"></textarea>
                                <div class="error">
                                  <p *ngIf="contactForm.controls['description'].errors?.minlength">
                                    Message must be at least 10 characters long.
                                  </p>
                                </div>
                              </div>
                          </div>

                          <div class="col-md-12 contact-form-col">
                              <div class="form-input">
                                <input type="submit" value="Submit" (click)="submit(contactForm?.value)">
                              </div>
                          </div>

                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
